@use "./variables" as *;

@mixin heading {
  background: $bandsite-black;
  font-family: "avenir";
  display: flex;
  width: 100%;  
  padding: 1.25rem;
}

@mixin logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 2.0rem;
  font-weight: normal;
  margin-left: 4rem;
  padding-top: 0.625rem;
}

@mixin hero {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  min-height: 100px;
  display: flex;

  &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 60vh;
      background: rgba(0, 0, 0, 0.5);
  }

  &__title{
      color: #ffffff;
      font-size: 2.625rem;
      font-weight: 600;
      position: sticky;
      padding: 80px 80px;
      margin: 80px 20px;
  }
}

//   mixin for media queries screen size
@mixin mobile {
  // min-width: 320px
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  // min-width: 768px
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}
  
@mixin desktop {
  // min-width: 1280px
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}