// colors
$bandsite-black: #323232;
$bandsite-darkblack: #000000;
$bandsite-silver: #AFAFAF;
$bandsite-mercury: #E1E1E1;
$bandsite-alabaster: #FAFAFA;

// media query breakpoint
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// $body-padding: 1rem;
// $heading-font-size: 100%;