// linking partials
@use "./partials/reset";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

// Using font-face in project folder
@font-face {
    font-family: "Avenir";
    src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: "Avenir";
    src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Avenir";
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
    font-weight: 600;
}

// site-header block
.site-header{
    @include heading; 
    @include mobile {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }
    @include tablet {
        display: flex;
        flex-direction: row;
    }
    @include desktop {
        display: flex;
        flex-direction: row;
    }

    // site-header element
    &__logo{
        @include logo;
        @include mobile {
            padding-right: 20px;
            // display: flex;
            // justify-content: center;
            // width: 40%;
            // margin: 3vw 0;
        }
    }
}

// main-nav block
.main-nav {
    // main-nav elements
    &__list{
        display: flex;
        list-style: none;
    }
    // $__item{}
    &__link{
        text-decoration: none;
        color: #ffffff;
        padding: 1.25rem; 
    }
    &__link--active{
        border-bottom: 0.25rem solid #ffffff;
        font-weight: bold;
        padding-bottom: 2.125rem;
    }
    // media queries for main-nav
    // @include mobile {
    //     width: 40%;
    //     margin: 3vw 0;
    //     background: lightgreen;
    // }
    // @include tablet {
    //     width: 40%;
    //     margin: 3vw 0;
    //     background: lightgreen;
    // }
    // @include desktop {
    //     width: 40%;
    //     margin: 3vw 0;
    //     background: lightgreen;
    // }

}

// hero block
.hero {
    background: url(/assets/images/hero-bio.jpg);
    @include hero;
    &__title{
        @include mobile{
            font-size: 3.625rem;
        };
        @include tablet {
            font-size: 3.625rem;
        };
        @include desktop{
            font-size: 4rem;
        };
    }
}

// article block
.article {
    color: $bandsite-black;
    background-color: #ffffff;
    width: 100vw;
    display: flex;
    flex-direction: column;

    &__title{
        margin-left: 5rem;
       font-weight: 600;
       font-size: 1.875rem;
       padding: 1.25rem;
    }
    &__img{
        width: 70vw; 
        height: 70vh;
        margin-left: 15rem;
        max-width: 100%;
        
    }

    &__blockquote {
        color: $bandsite-black;
        position: relative;
        font-weight: bold;
        font-style: normal;
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    &__quote{
        padding: 0px 13.125rem;
        // margin-left: 0.0rem;
        margin-right: 10rem;
        text-align: justify;
    }

    &__footer{
        font-weight: 600;
        font-size: 12px;
        margin-left: 16rem;
    }
    &__details{
        margin-left: 15rem;
        display: flex; 
        margin-right: 15rem;
    }
    &__topic{
        margin-left: 16rem;
        // padding: 10px 10px;
        margin-top: 3rem;
    }
    &__content{
        flex-direction: column;
        flex: 1;
        text-align: left;
        margin-right: 30px; /* Add space between paragraphs */

    }
}

  
