// linking partials
@use "./partials/reset" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

// site-header block
.site-header{
    background: $bandsite-black;
    font-family: "avenir";
    width: 100%;  
    padding: 1.25rem;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
   
    // media queries for site-header
    @include tablet {
        display: flex;
        flex-direction: row;
    }
    @include desktop {
        display: flex;
        flex-direction: row;
    }

    // site-header element
    &__logo{
        color: #ffffff;
        text-decoration: none;
        font-size: 2.3rem;
        font-weight: normal;
        margin-left: 10rem;
        padding-top: 0.625rem;
        padding-right: 40px;
        // media queries for site-header__logo
        @include tablet{
            font-size: 2.0rem;
            margin-left: 4rem;
        }
        @include desktop{
            font-size: 2.0rem;
            margin-left: 4rem;
        }
    }
    
}

// main-nav block
.main-nav {
    // main-nav elements
    &__list{
        display: flex;
        list-style: none;
    }
    &__link{
        text-decoration: none;
        color: #ffffff;
        padding: 4.25rem; 
        padding-bottom: 2.125rem;

        &--active{
            border-bottom: 0.25rem solid #ffffff;
            font-weight: bold;
            padding-bottom: 2.125rem;
        }
        // media queries for main-nav__link
        @include tablet{
            padding: 2.1rem;
        }
        @include desktop {
            padding: 2.1rem;
        }
    }
        
}

// hero block
.hero {
    background: url(/assets/images/hero-bio.jpg);
    font-size: 3.625rem;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    min-height: 6.25rem;
    display: flex;
  
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 60vh;
        background: rgba(0, 0, 0, 0.5);
    }
  
    &__title{
        color: #ffffff;
        font-size: 2.625rem;
        font-weight: 600;
        position: sticky;
        padding: 5rem 0.625rem;
        margin: 5rem 1.25rem;
        // media queries for hero__title
        @include tablet {
            font-size: 3.625rem;
        };
        @include desktop{
            font-size: 4rem;
            padding: 5rem 5rem;
        };
    }
}

// article block
.article {
    color: $bandsite-black;
    background-color: #ffffff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title{
       font-weight: 600;
       font-size: 1.875rem;
       margin-left: 1rem;
       padding: 0.625rem;

       // media queris for article__title
       @include desktop{
        margin-left: 5rem;
        padding: 1.25rem;
       }
    }
    &__img{
        width: 70%; 
        height: 50%;
        margin-left: 2rem;
        margin-right: 0rem;
        display: flex;
        justify-content: center;
        align-content: center;
        // media queris for article__img
        @include tablet{
            width: 75%; 
            height: 45%;
            margin-left: 5rem;
            margin-right: 5rem;
        }
        @include desktop{
            width: 75%; 
            height: 45%;
            margin-left: 10rem;
        }
    }

    &__blockquote {
        color: $bandsite-black;
        position: relative;
        font-weight: bold;
        font-style: normal;
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    &__quote{
        margin-right: 8rem;
        // margin-left: 2.5rem;
        text-align: left;

        // media queris for article__quote
        @include tablet {
            margin-left: 3.125rem;
            margin-right: 15rem;
            text-align: left;
        }
        @include desktop {
            margin-left: 7.5rem;
            margin-right: 15rem;
            text-align: left;
        }
    }
    &__footer{
        font-weight: 700;
        font-size: 17px;
        margin-left: 3rem;
        //  media queris for article__footer 
        @include tablet {
            margin-left: 6rem;
        }
        @include desktop {
            margin-left: 10.2rem;
        }
    }
    &__topic{
        margin-left: 2rem;
        margin-top: 3rem;
        //  media queris for article__topic 
        @include tablet {
            margin-left: 6rem;
        }
        @include desktop {
            margin-left: 10.2rem;
        }
    }
    &__details{
        display: flex; 
        flex-direction: column;
        margin-right: 15rem;
        margin-left: 2rem;
        
        // media queris for article__details
        @include tablet{
            flex-direction: row;
        }
        @include desktop{
            flex-direction: row;
            margin-left: 6rem;
        }
    }
    &__content{
        flex-direction: column;
        flex: 1;
        text-align: left;
        margin-right: -6.25rem;

        // media queris for article__content
        @include tablet{
            margin-right: 1.25rem;
            margin-left: 4rem;
        }
        @include desktop{
            margin-right: 1.875rem;
            // margin-left: 4rem;
        }
    }
}

// gallery block
.gallery__container{
    background-color: $bandsite-alabaster;
}
.gallery {
    // background-color: $bandsite-alabaster;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 2rem;
    padding-bottom: 2rem;
    width: 100%;

    // media queries for gallery
        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;

        }
        @include desktop{
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 6rem;
        }

    &__title {
        color: $bandsite-black;
        // background-color: $bandsite-alabaster;
        font-weight: 600;
        font-size: 1.875rem;
        margin-left: 1rem;
        margin-bottom: 0rem;
        padding: 2rem;
        width: 100%;
        @include desktop{
            padding-left: 0rem;
            margin-left: 0 0;
        }
    }

    &__item {
        margin-left: 0.5rem;
        flex: 1;
        max-width: calc(83.33% - 10px);
        
        
        // media queries for gallery__item
        @include tablet{
            flex: 0 0 calc(30% - 2rem);
            
        }
        @include desktop{
            flex: 0 0 calc(30% - 10px);
        }
    }

    &__img {
        width: 100%;
        height: auto;

        // media queries for gallery__img
        @include tablet{

        }
        @include desktop{
           
        }
    }
}

// footer block
// .footer{
//     background-color: $bandsite-black;
//     color: white;
//     font-weight: normal;
//     padding: 1rem 2rem;
//     width: 100%;
    
//     // media queries for footer
//     @include tablet{
//         display: flex;
//         flex-direction: row;
//     }
//     @include desktop {
//         display: flex;
//         flex-direction: row;
//     }
    
//     &__title{ 
//         font-weight: 600;
//         width: 100%;

//         // media queries for footer_title
//         @include tablet{
//             width: 30%;
//         }
//         @include desktop{
//             width: 25%;
//             padding-left: 70px;
//         }
//     }
//     &__icon{
//         // flex-direction: column;
//         padding-right: 1.25rem;
//         // width: 10vw;

//         @include tablet{
//             margin-bottom: 120px;
//         }
//         @include desktop{
//             margin-bottom: 210px;
//             margin-top: -10px;
//         }
//     }
//     &__subtitle{
//         // font-family: "avenir";
//          font-weight: 600;
//          padding: 1rem 0rem;
//     }
//     &__text{
//          font-weight: normal;
//     }
//     &__logo{
//          font-weight: normal;
//          padding-top: 2rem;
//          @include tablet{
//             margin-bottom: 120px;
//         }
//         @include desktop{
//             margin-bottom: 120px;
//             margin-top: -10px;

//         }
//     }
//     &__copyright{
//          font-weight: normal;
//          @include tablet{
           
//         }
//         @include desktop{
//             flex-basis: 100%;
//             text-align: left;
//             margin-top: 16.5rem;
//             margin-left: -60rem;
//         }
//     }
//     &__group{
//         padding: 2px;
//      @include tablet{
//         // flex-direction: column;
//     //     align-content: flex-end;
//     //  }
//     }
//     @include desktop{
//         margin-top: 60px;
//         margin-right: 10px;
//         flex-basis: calc(45% - 20px);
//         margin-left: -21.75rem
//     }
//     }
// }

// ==== Main footer block ===
// footer mobile
@include mobile{
    .footer{
    background-color: $bandsite-black;
    color: white;
    font-weight: normal;
    padding: 1rem 2rem;
    width: 100%;

        &__title{ 
            font-weight: 600;
            width: 100%;
        }
        &__icon{
            padding-right: 1.25rem;
        }
        &__subtitle{
            font-weight: 600;
            padding: 1rem 0rem;
        }
        &__text{
            font-weight: normal;
        }
        &__logo{
            font-weight: normal;
            padding-top: 2rem;
        }
        &__copyright{
            font-weight: normal;
            font-size: 14px;
        }
        &__group{
            padding: 0px;
        }
    }

}

// Footer Tablet
@include tablet{
    .footer {
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
        background-color: $bandsite-black;
        color: white;
        position: relative;
    
    
        &__header {
            display: flex;
            align-items: center;
        }
    
        &__title {
            margin-right: 10px;
            position: absolute;
            top: 0;
            left: 20px;
            font-weight: 600;
        }
    
        &__icons {
            display: flex;
            padding-left: 220px;
            margin-top: 10px;
            
        }
        
        &__icon {
            margin-right: 10px;
            flex-direction: row;
            padding-left: 10px;
        }
    
        &__logo {
                position: absolute;
                top: 0;
                right: 30px;
                font-weight: normal;
                margin-top: unset;
            }
        &__groups{
            display: flex;
        }
        &__group {
            margin-top: 20px;
            flex-direction: column;
        }
        &__subtitle{
            padding-right: 40px;
        }
    
        &__copyright {
            align-self: flex-start;
        }
    }
} 

// Footer Desktop
@include desktop{
    .footer {
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
        background-color: $bandsite-black;
        color: white;
        position: relative;
    
    
        &__header {
            display: flex;
            align-items: center;
        }
    
        &__title {
            margin-right: 10px;
            position: absolute;
            top: 0;
            left: 20px;
            font-weight: 600;
        }
    
        &__icons {
            display: flex;
            padding-left: 220px;
            margin-top: 10px;
        }
        
        &__icon {
            margin-right: 10px;
            flex-direction: row;
            padding-left: 10px;
        }
    
        &__logo {
                position: absolute;
                top: 0;
                right: 30px;
                font-weight: normal;
                // margin-top: unset;
            }
        &__groups{
            display: flex;
        }
        &__group {
            margin-top: 20px;
            flex-direction: column;
        }
        &__subtitle{
            padding-right: 40px;
        }
    
        &__copyright {
            align-self: flex-start;
        }
    }
}  

