* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}

@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
}
.site-header {
  background: #323232;
  font-family: "avenir";
  width: 100%;
  padding: 1.25rem;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
@media screen and (min-width: 768px) {
  .site-header {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .site-header {
    display: flex;
    flex-direction: row;
  }
}
.site-header__logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 2.3rem;
  font-weight: normal;
  margin-left: 10rem;
  padding-top: 0.625rem;
  padding-right: 40px;
}
@media screen and (min-width: 768px) {
  .site-header__logo {
    font-size: 2rem;
    margin-left: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .site-header__logo {
    font-size: 2rem;
    margin-left: 4rem;
  }
}

.main-nav__list {
  display: flex;
  list-style: none;
}
.main-nav__link {
  text-decoration: none;
  color: #ffffff;
  padding: 4.25rem;
  padding-bottom: 2.125rem;
  transition: color 0.3s ease;
}
.main-nav__link:hover {
  color: #AFAFAF;
}
.main-nav__link--active {
  border-bottom: 0.25rem solid #ffffff;
  font-weight: bold;
  padding-bottom: 2.125rem;
}
@media screen and (min-width: 768px) {
  .main-nav__link {
    padding: 2.1rem;
  }
}
@media screen and (min-width: 1280px) {
  .main-nav__link {
    padding: 2.1rem;
  }
}

.hero {
  background: url(/assets/images/hero-bio.jpg);
  font-size: 3.625rem;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  min-height: 6.25rem;
  display: flex;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60vh;
  background: rgba(0, 0, 0, 0.5);
}
.hero__title {
  color: #ffffff;
  font-size: 2.625rem;
  font-weight: 600;
  position: sticky;
  padding: 5rem 0.625rem;
  margin: 5rem 1.25rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.625rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 4rem;
    padding: 5rem 5rem;
  }
}

.article {
  color: #323232;
  background-color: #ffffff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article__title {
  font-weight: 600;
  font-size: 1.875rem;
  margin-left: 1rem;
  padding: 0.625rem;
}
@media screen and (min-width: 1280px) {
  .article__title {
    margin-left: 5rem;
    padding: 1.25rem;
  }
}
.article__img {
  width: 70%;
  height: 50%;
  margin-left: 2rem;
  margin-right: 0rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
@media screen and (min-width: 768px) {
  .article__img {
    width: 75%;
    height: 45%;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .article__img {
    width: 75%;
    height: 45%;
    margin-left: 10rem;
  }
}
.article__blockquote {
  color: #323232;
  position: relative;
  font-weight: bold;
  font-style: normal;
  font-size: 1.25rem;
  margin-bottom: 0;
}
.article__quote {
  margin-right: 8rem;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .article__quote {
    margin-left: 3.125rem;
    margin-right: 15rem;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .article__quote {
    margin-left: 7.5rem;
    margin-right: 15rem;
    text-align: left;
  }
}
.article__footer {
  font-weight: 700;
  font-size: 17px;
  margin-left: 3rem;
}
@media screen and (min-width: 768px) {
  .article__footer {
    margin-left: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .article__footer {
    margin-left: 10.2rem;
  }
}
.article__topic {
  margin-left: 2rem;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .article__topic {
    margin-left: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .article__topic {
    margin-left: 10.2rem;
  }
}
.article__details {
  display: flex;
  flex-direction: column;
  margin-right: 15rem;
  margin-left: 2rem;
}
@media screen and (min-width: 768px) {
  .article__details {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .article__details {
    flex-direction: row;
    margin-left: 6rem;
  }
}
.article__content {
  flex-direction: column;
  flex: 1;
  text-align: left;
  margin-right: -6.25rem;
}
@media screen and (min-width: 768px) {
  .article__content {
    margin-right: 1.25rem;
    margin-left: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .article__content {
    margin-right: 1.875rem;
  }
}

.gallery__container {
  background-color: #FAFAFA;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 6rem;
    padding-right: 4rem;
  }
}
.gallery__title {
  color: #323232;
  font-weight: 600;
  font-size: 1.875rem;
  margin-left: 1rem;
  margin-bottom: 0rem;
  padding: 2rem;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .gallery__title {
    padding-left: 0rem;
    margin-left: 0 0;
  }
}
.gallery__item {
  margin-left: 0.5rem;
  flex: 1;
  max-width: calc(83.33% - 0.625rem);
}
@media screen and (min-width: 768px) {
  .gallery__item {
    flex: 0 0 calc(30% - 0.5rem);
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item {
    flex: 0 0 calc(30% - 0.625rem);
  }
}
.gallery__img {
  width: 100%;
  height: auto;
  filter: grayscale(100%); /* Grayscale the images by default */
  transition: filter 0.3s ease; /* Smooth transition effect */
}
.gallery__img:hover {
  filter: grayscale(0%); /* Revert the images to color on hover */
}
@media screen and (min-width: 320px) {
  .footer {
    background-color: #323232;
    color: white;
    font-weight: normal;
    padding: 1rem 2rem;
    width: 100%;
  }
  .footer__title {
    font-weight: 600;
    width: 100%;
  }
  .footer__icon {
    padding-right: 1.25rem;
  }
  .footer__subtitle {
    font-weight: 600;
    padding: 1rem 0rem;
  }
  .footer__text {
    font-weight: normal;
  }
  .footer__logo {
    font-weight: normal;
    padding-top: 2rem;
  }
  .footer__copyright {
    font-weight: normal;
    font-size: 12px;
  }
  .footer__group {
    padding: 0px;
  }
  .footer__text--email {
    color: inherit;
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background-color: #323232;
    color: white;
    position: relative;
  }
  .footer__header {
    display: flex;
    align-items: center;
  }
  .footer__title {
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: 20px;
    font-weight: 600;
  }
  .footer__icons {
    display: flex;
    padding-left: 220px;
    margin-top: 10px;
  }
  .footer__icon {
    margin-right: 10px;
    flex-direction: row;
    padding-left: 10px;
  }
  .footer__logo {
    position: absolute;
    top: 0;
    right: 30px;
    font-weight: normal;
    margin-top: unset;
  }
  .footer__groups {
    display: flex;
  }
  .footer__group {
    margin-top: 20px;
    flex-direction: column;
  }
  .footer__subtitle {
    padding-right: 40px;
  }
  .footer__text--email {
    color: inherit;
    text-decoration: none;
  }
  .footer__copyright {
    align-self: flex-start;
    font-size: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #323232;
    color: white;
    position: relative;
  }
  .footer__header {
    display: flex;
    align-items: center;
  }
  .footer__title {
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 40px;
    position: absolute;
    top: 0;
    left: 20px;
    font-weight: 600;
  }
  .footer__icons {
    display: flex;
    padding-left: 220px;
    margin-top: 30px;
  }
  .footer__icon {
    margin-right: 10px;
    flex-direction: row;
    padding-left: 10px;
  }
  .footer__logo {
    position: absolute;
    top: 0;
    right: 30px;
    font-weight: normal;
    margin-right: 40px;
    padding-right: 10px;
    margin-top: 10px;
  }
  .footer__groups {
    display: flex;
  }
  .footer__group {
    margin-top: 20px;
    flex-direction: column;
  }
  .footer__subtitle {
    padding-right: 40px;
  }
  .footer__text--email {
    color: inherit;
    text-decoration: none;
  }
  .footer__copyright {
    align-self: flex-start;
    font-size: 12px;
  }
}/*# sourceMappingURL=bio.css.map */