// linking partials
@use "./partials/reset" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

// site-header block
.site-header{
    background: $bandsite-black;
    font-family: "avenir";
    width: 100%;  
    padding: 1.25rem;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
   
    // media queries for site-header
    @include tablet {
        display: flex;
        flex-direction: row;
    }
    @include desktop {
        display: flex;
        flex-direction: row;
    }

    // site-header element
    &__logo{
        color: #ffffff;
        text-decoration: none;
        font-size: 2.3rem;
        font-weight: normal;
        margin-left: 10rem;
        padding-top: 0.625rem;
        padding-right: 2.5rem;
        // media queries for site-header__logo
        @include tablet{
            font-size: 2.0rem;
            margin-left: 4rem;
        }
        @include desktop{
            font-size: 2.0rem;
            margin-left: 4rem;
        }
    }
    
}

// main-nav block
.main-nav {
    // main-nav elements
    &__list{
        display: flex;
        list-style: none;
    }
    &__link{
        text-decoration: none;
        // color: #ffffff;
        color: $bandsite-mercury;
        padding: 4.25rem; 
        padding-bottom: 2.125rem;
        transition: color 0.3s ease;

        &:hover {
            color: white;
            border-bottom: 0.25rem solid #ffffff;
        }

        &--active{
            border-bottom: 0.25rem solid #ffffff;
            color: #ffffff;
            font-weight: bold;
            padding-bottom: 2.125rem;
        }
        // media queries for main-nav__link
        @include tablet{
            padding: 2.1rem;
        }
        @include desktop {
            padding: 2.1rem;
        }
    }    
}

// hero block
.hero {
    background: url(/assets/images/hero-shows.jpg);
    font-size: 3.625rem;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    min-height: 6.25rem;
    display: flex;
    flex-direction: column; /* Added to stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: start; /* Center items horizontally */
    position: relative; /* Added for positioning pseudo-element */
  
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 80vh;
        background: rgba(0, 0, 0, 0.5);
    }
    &__subtitle{
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
        position: sticky;
        padding: 0rem 0.625rem;
        margin: 0rem 1.25rem;
        z-index: 2; /* Ensure the subtitle is above the overlay */
        margin-bottom: 10px; 
        // margin-top: 80px
        @include tablet{
            font-size: 1.5rem;
        }
        @include desktop{
            font-size: 1.5rem;
            margin-left: 6rem;
        }
     }
    &__title{
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: 600;
        position: sticky;
        padding:0rem 0.625rem;
        margin: 0rem 1.25rem;
        max-width: 400px; 
        word-wrap: break-word; 
        // media queries for hero__title
        @include tablet {
            font-size: 3.625rem;
            max-width: 600px; 
            word-wrap: break-word; 
        };
        @include desktop{
            font-size: 4rem;
            padding: 0rem 5rem;
            max-width: 700px; 
            word-wrap: break-word; 
        };
    }
}

// iframe
.hero__iframe {
    display: flex;
    position: relative;
    width: auto;
    max-width: 100%;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-top: 2rem;
    
    @include desktop{
        position: absolute;
        right: 0;
        margin-right: 6rem;
    }
   
}

// ===shows block 1===
// .shows{
//     &__detail{
//     border-bottom: 2px solid $bandsite-mercury;
//     margin-bottom: 2rem;
//     width: 100%;
//         // @include tablet{
//         //     display: flex;
//         //     flex-direction: column;
//         // }
//     }
//     &__header{
//         color: $bandsite-black;
//         font-weight: 600;
//         font-size: 1.875rem;
//         margin-left: 1rem;
//         margin-bottom: 0rem;
//         padding: 1rem;
//         width: 100%;
    
//         @include desktop{
//             padding-left: 6rem;
//             margin-left: 0 0;
//         }
//     }
//     &__btn{
//         margin-left: 2rem;
//         margin-bottom: 2rem;
//         background-color: $bandsite-black;
//         color: #ffffff;
//         border-radius: 4px;

//         width: 85%;
//         background: $bandsite-black;
//         border-radius:5px;
//         border:0;
//         cursor:pointer;
//         color:white;
//         font-size:20px;
//         padding-top:20px;
//         padding-bottom:20px;
//         transition: all 0.3s;
//         margin-top:-4px;
//         font-weight:600;
        
//     }
//     &__btn:hover { 
//         background: black;
//     }
  
//     &__table {
//         border-collapse: collapse;
//         width: 100%;
//         margin-left: 1.8rem;
    
//     &--row {
//         display: flex;
//         flex-direction: column;
//         // @include desktop{
//         //     display: flex;
//         //     justify-content: space-between;
//         // }
//     }
    
//     &--head,
//     &--data {
//         padding: 8px;
//         text-align: left;
//         font-size: 18px;
//         color: black;
//     }
//     &--data{
//         padding-top: 4px;
//         padding-bottom: 18px;
//     }
//     &--date{
//         font-weight: 600;
//     }
    
//     &--head {
//         // background-color: #f2f2f2;
//         font-weight: 600;
//         color: $bandsite-silver;
//         font-size: 16px;
//     }

//     }
// }
// .button-container{
//     margin-top: 2rem;
    
// }

// ===shows 2===
.shows{
    display: flex;
    flex-direction: column;
    
}
.shows__header{
    color: $bandsite-black;
    font-weight: 600;
    font-size: 1.875rem;
    margin-left: 1rem;
    margin-bottom: 0rem;
    padding: 1rem;
    width: 100%;

    @include desktop{
        padding-left: 6rem;
        margin-left: 0 0;
    }
}
.shows-head{
    font-weight: 600;
    color: #AFAFAF;
    font-size: 16px;
    margin-left: 2rem;
    position: absolute;
    display: grid;
    // margin: 2rem;
    // margin-bottom: 3rem;
    // justify-content: space-between;
}

.shows-data{
    padding: 8px;
    text-align: left;
    font-size: 18px;
    color: black;
    border-bottom: 2px solid #E1E1E1;
    margin-bottom: 4rem;
    width: 100%;
    margin-left: 1.5rem;
    display: grid;
    // margin: 4rem;
    // margin-top: 1.2rem;


    &__date{
        font-weight: 600;
    }
    &__btn{
        margin-left: 2rem;
        margin-bottom: 2rem;
        background-color: #323232;
        color: #ffffff;
        border-radius: 4px;
        width: 85%;
        background: #323232;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        color: white;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: all 0.3s;
        margin-top: -4px;
        font-weight: 600;
    }
    &__btn:hover { 
        background: black;
    }
}




// ==== Main footer block ===
// footer mobile
@include mobile{
    .footer{
    background-color: $bandsite-black;
    color: white;
    font-weight: normal;
    padding: 1rem 2rem;
    width: 100%;

        &__title{ 
            font-weight: 600;
            width: 100%;
        }
        &__icon{
            padding-right: 1.25rem;
            text-decoration: none;
        }
        &__subtitle{
            font-weight: 600;
            padding: 1rem 0rem;
        }
        &__text{
            font-weight: normal;
        }
        &__logo{
            font-weight: normal;
            padding-top: 2rem;
            color: inherit;
            text-decoration: none;
        }
        &__copyright{
            font-weight: normal;
            font-size: 0.75rem;
        }
        &__group{
            padding: 0px;
        }
        &__text--email{
            color: inherit;
            text-decoration: none;
        }
    }

}

// footer tablet
@include tablet{
    .footer {
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1.25rem;
        background-color: $bandsite-black;
        color: white;
        position: relative;
    
    
        &__header {
            display: flex;
            align-items: center;
        }
    
        &__title {
            margin-right: 0.625rem;
            position: absolute;
            top: 0;
            left: 1.25rem;
            font-weight: 600;
        }
    
        &__icons {
            display: flex;
            padding-left: 13.75rem;
            margin-top: 0.625rem;
        }
        
        &__icon {
            margin-right: 0.625rem;
            flex-direction: row;
            padding-left: 0.625rem;
            text-decoration: none;
            position: relative;
            
        }
    
        &__logo {
            position: absolute;
            top: 0;
            right: 1.875rem;
            font-weight: normal;
            margin-top: unset;
            color: inherit;
            text-decoration: none;
        }
        &__groups{
            display: flex;
        }
        &__group {
            margin-top: 1.25rem;
            flex-direction: column;
        }
        &__subtitle{
            padding-right: 2.5rem;
        }
        &__text--email{
            color: inherit;
            text-decoration: none;
        }
    
        &__copyright {
            align-self: flex-start;
            font-size: 0.75rem;
        }
    }
} 

// footer desktop
@include desktop{
    .footer {
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1.25rem 6.25rem;
        background-color: $bandsite-black;
        color: white;
        position: relative;
        
    
    
        &__header {
            display: flex;
            align-items: center;
        }
    
        &__title {
            margin-right: 0.625rem;
            margin-left: 5rem;
            margin-top: 2.5rem;
            position: absolute;
            top: 0;
            left: 1.25rem;
            font-weight: 600;
        }
    
        &__icons {
            display: flex;
            padding-left: 13.75rem;
            margin-top: 1.875rem;
        }
        
        &__icon {
            margin-right: 0.625rem;
            flex-direction: row;
            padding-left: 0.625rem;
            text-decoration: none;
            position: relative;
        }
    
        &__logo {
            position: absolute;
            top: 0;
            right: 1.875rem;
            font-weight: normal;
            margin-right: 2.5rem;
            padding-right: 0.625rem;
            margin-top: 0.625rem;
            color: inherit;
            text-decoration: none;
        }
        &__groups{
            display: flex;
        }
        &__group {
            margin-top: 1.25rem;
            flex-direction: column;
        }
        &__subtitle{
            padding-right: 2.5rem;
        }
        &__text--email{
            color: inherit;
            text-decoration: none;
        }
    
        &__copyright {
            align-self: flex-start;
            font-size: 0.75rem;
        }
    }
}  

// ===
// @include tablet{
//     .shows__detail {
//         display: flex;
//       }
      
//       .shows__table {
//         border-collapse: collapse;
//         width: 100%;
//       }
      
//       .shows__table--head,
//       .shows__table--data {
//         padding: 8px;
//         text-align: left;
//       }
      
//       .shows__table--head {
//         font-weight: bold;
//       }
      
//       .button-container {
//         display: flex;
//         justify-content: flex-end;
//         align-items: center;
//       }
// }

